
notebook
jupyterhub
jupyterlab
beautifulsoup4 
bokeh 
bottleneck 
cloudpickle 
cython
dask
dill 
h5py
ipywidgets
ipympl
matplotlib
numba
numexpr
numpy
pandas
patsy
protobuf
pyarrow
scikit-image
scikit-learn
scipy
seaborn
sqlalchemy 
statsmodels
sympy
vincent 
widgetsnbextension
xlrd
tables
wget
pyspark==3.3.0
delta-spark==2.1.0